<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>爬蟲區</title>
</head>
<body onload="initial();">
	
<p>倒數時間:</p>
<div id="countdown"> </div> 
<p>計時結束會抓一次</p>
<div id="box"></div>
</body>
<script src="__PUBLIC__/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript">
//倒數計時區
var time=1800;//30分鐘抓一次
var countdownnumber=time;
var countdownid,x;
function initial(){
  x=document.getElementById("countdown");
  x.innerHTML=countdownnumber;
  countdownnumber--;
  countdownid=window.setInterval(countdownfunc,1000);
}
function countdownfunc(){ 
  x.innerHTML=countdownnumber;
  if (countdownnumber==0){
  	 oneturn();
    countdownnumber=time;
  }
  countdownnumber--;
}
//頁面開始時執行第一次
oneturn();

	function oneturn(){
        //抓最新以及最熱門標題跟網址
        $.ajax({
            method: 'get',
            data: {
            },
            url: "{:u('Ajax/article')}",
            success: function(res) {
                //alert(res);
                $("<span>"+res+"<span>").insertAfter("#box");
            },
            error: function(request, error) {
                console.log(arguments);
                console.log(request);
            }

        });
        //檢查資料遺失
        $.ajax({
            method: 'get',
            data: {
            },
            url: "{:u('Ajax/hiddcheck')}",
            success: function(res) {
            },
            error: function(request, error) {
                console.log(arguments);
                console.log(request);
            }

        });
        //逐分類查詢內文
    <foreach name="classif" item="vo">
        $.ajax({
            method: 'get',
            data: {
                class: "{$vo[tag]}"
            },
            url: "{:u('Ajax/content')}",
            success: function(res) {
                //alert(res);
                $("<span>"+res+"<span>").insertAfter("#box");
            },
            error: function(request, error) {
                console.log(arguments);
                console.log(request);
            }

        });
	</foreach>
}
</script>
</html>